@model DetailProductViewModel
@{
    ViewBag.Title = Model.ProductName;
    var imagePath = $"/img/{(Model.ImagePath ?? "none-avatar.png")}";
}

<h3 class="text-center">@Model.ProductName</h3>
<div class="row col-10 justify-content-center">
    <div class="col-5">
        <img src="@imagePath" class="m-2" />
    </div>
    <div class="col-5 m-2">
        <div class="card">
            <div class="card-body">
                <p>Mô tả: @Model.Description</p>
                <p>Loại: @Model.CategoryName</p>
                <p>Thương hiệu: @Model.BrandingName</p>
                <p>Giá: @Model.Price</p>
                <p>Số lượng: <input asp-for="Inventory" value="" /></p>
                <span asp-validation-for="Inventory"></span>
            </div>
            <div class="card-footer text-center">
                <a asp-controller="Home" asp-action="Index" class="btn btn-warning">Back</a>
            </div>
        </div>
    </div>
</div>